<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Project"/>
<mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
<listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
<listEntry value="SalesrefundHotel.HotelbookingGL"/>
<listEntry value="Warehouse.ResourceMaster"/>
<listEntry value="SalesrefundAir.Airnegative"/>
<listEntry value="SalesrefundHotel.Hotelbookinguccf"/>
<listEntry value="Copytickectverifications.Misccopytickect"/>
<listEntry value="SalesrefundAir.AirpositiveUccf"/>
<listEntry value="travlogixnegativescenarios.Carmasternegativescenarios"/>
<listEntry value="SalesrefundAir.Airpositivecredit"/>
<listEntry value="travlogix.Wrappermethods"/>
<listEntry value="travlogix.HotelMaster"/>
<listEntry value="travlogixnegativescenarios.Airlinemasternegativvescenarios"/>
<listEntry value="SalesrefundAir.AirpositiveGL"/>
<listEntry value="SalesrefundAir.Airpositive"/>
<listEntry value="SalesrefundAir.Airpositivecreditcard"/>
<listEntry value="Salesrefundcar.Carbookingcard"/>
<listEntry value="Salesrefundmisc.Misccard"/>
<listEntry value="Salesrefundallservicesindocket.Allservices"/>
<listEntry value="SalesrefundHotel.Hotelnegative"/>
<listEntry value="travlogix.Miscservicecharge"/>
<listEntry value="travlogix.BussinessPatnernegativescenarios"/>
<listEntry value="travlogixnegativescenarios.Hotelmasternegativescenarios"/>
<listEntry value="Warehouse.BinMaster"/>
<listEntry value="travlogixnegativescenarios.Authorizationnegativescenarios"/>
<listEntry value="travlogixnegativescenarios.Airservicechargenegative"/>
<listEntry value="Copytickectverifications.Carcopytickect"/>
<listEntry value="travlogixnegativescenarios.Agentincentivenegative"/>
<listEntry value="Salesrefundmisc.Miscuccf"/>
<listEntry value="Multiplefop.Airmfop"/>
<listEntry value="Warehouse.Wrappermethods"/>
<listEntry value="travlogix.Accountsetup"/>
<listEntry value="travlogix.Authorization"/>
<listEntry value="Salesrefundcar.Carbookingift"/>
<listEntry value="Warehouse.Indocument"/>
<listEntry value="travlogix.BusinessPartnersupplier"/>
<listEntry value="Salesrefundcar.Carnegative"/>
<listEntry value="travlogix.Scenario1"/>
<listEntry value="Salesrefunddockectstatus.Docketstatusnew"/>
<listEntry value="SalesRefundPositivecases.Airpositivecash"/>
<listEntry value="Salesrefundallservicesindocket.Cardocket"/>
<listEntry value="Salesrefundallservicesindocket.Hoteldockect"/>
<listEntry value="travlogix.AirServiceChargeRule"/>
<listEntry value="Salesrefundmisc.Miscgift"/>
<listEntry value="SalesrefundHotel.Hotelbookingcard"/>
<listEntry value="SalesRefundnegativescenarios.Airnegative"/>
<listEntry value="travlogix.AirServiceCharge"/>
<listEntry value="Salesrefundmisc.MiscGL"/>
<listEntry value="Multiplefop.Carfop"/>
<listEntry value="Salesrefundallservicesindocket.Airdockect"/>
<listEntry value="Multiplefop.Hotelfop"/>
<listEntry value="SalesrefundAir.AirpositiveGift"/>
<listEntry value="SalesRefundPositivecases.CarPositivecredit"/>
<listEntry value="travlogixnegativescenarios.Travelclassnegativescenarios"/>
<listEntry value="travlogixnegativescenarios.Accountsetupnegativescenarios"/>
<listEntry value="SalesRefundPositivecases.Misccash"/>
<listEntry value="Refund.Airrefund"/>
<listEntry value="travlogix.Executivemaster"/>
<listEntry value="SalesRefundPositivecases.CarPositivecash"/>
<listEntry value="Salesrefundcar.CarbookingGL"/>
<listEntry value="travlogix.CreditCardMaster"/>
<listEntry value="SalesRefundPositivecases.Hotelpositivecredit"/>
<listEntry value="travlogix.BusinessPartner"/>
<listEntry value="travlogixnegativescenarios.CarserviceChargenegative"/>
<listEntry value="Copytickectverifications.Hotelcopytickect"/>
<listEntry value="travlogix.Agentincentive"/>
<listEntry value="travlogix.Hotelservicecharge"/>
<listEntry value="travlogixnegativescenarios.Branchmasternegativescenarios"/>
<listEntry value="travlogixnegativescenarios.Creditcardmasternegativescenarios"/>
<listEntry value="travlogixnegativescenarios.Miscservicechargenegative"/>
<listEntry value="Warehouse.Zonemaster"/>
<listEntry value="travlogixnegativescenarios.Vatsetupnegativescenarios"/>
<listEntry value="Salesrefunddockectstatus.Notcollected"/>
<listEntry value="travlogixnegativescenarios.Airscrulenegative"/>
<listEntry value="travlogix.Vatsetup"/>
<listEntry value="travlogixnegativescenarios.Executivenegativescenarios"/>
<listEntry value="Salesrefundmisc.Miscnegative"/>
<listEntry value="travlogix.CarServiceChargeRule"/>
<listEntry value="travlogix.CarServiceCharge"/>
<listEntry value="SalesRefundPositivecases.Misccredit"/>
<listEntry value="Salesrefundcar.Carbookinguccf"/>
<listEntry value="Copytickectverifications.Aircopytickect"/>
<listEntry value="Salesrefundallservicesindocket.Miscdockect"/>
<listEntry value="travlogixnegativescenarios.Hotelservicechargenegative"/>
<listEntry value="travlogix.MiscServiceChargeRule"/>
<listEntry value="SalesrefundHotel.HotelbookingGift"/>
<listEntry value="travlogix.Airline"/>
<listEntry value="travlogix.HotelServiceChargeRule"/>
<listEntry value="travlogixnegativescenarios.Hotelscrulenegative"/>
<listEntry value="utility.Constant"/>
<listEntry value="travlogixnegativescenarios.Taxnegativescenarios"/>
<listEntry value="travlogix.Carmaster"/>
<listEntry value="Salesrefundmisc.Miscnegativewocwod"/>
<listEntry value="travlogixnegativescenarios.Miscrulenegativescenarios"/>
<listEntry value="travlogixnegativescenarios.Carscrulepagenegativescenarios"/>
<listEntry value="SalesRefundPositivecases.Hotelpositivecash"/>
<listEntry value="SalesrefundAir.Airdomesticnegative"/>
<listEntry value="Refund.Google"/>
</listAttribute>
<listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
<listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
<stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
<intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
